body{
    background-color: #36517c;
    margin: 0 auto;

}
.container{
    width: 1200px;
    margin: 0 auto;
}
h1, p, li, ul li, h2, a, label{
    text-decoration: none;
    color: #ffffff;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: 'Lato', sans-serif !important;
}

/*------------------
---HEADER SECTION---
--------------------*/

.header{
    margin: 0 auto;
    width: 100%;
    background-color: black;
    padding: 0px 0px 50px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
}
.heading{
    position: relative;
    padding: 19px 0px 14px 0px;
}

.logo{
    position: absolute;
    width: 50%;
    float: left;
    margin: 16px 0px;
    text-align: left;
}
.logo h1 {
    font-size: 20px;
}
.logo h1:hover {
    cursor: pointer;
    color: #48b0e1;
}

.menu{
    width: 60%;
    float: right;
    text-align: center;
}
.menu li {
    display: inline;
    padding: 0px 20px 0px 20px;
    font-size: 17px;
}

a:hover{
    cursor: pointer;
    color: #f4f6f6;
    border-bottom: 3px solid #48b0e1;
}


.logo a:hover {
    cursor: pointer;
    
    border-bottom: none;
}
a.explore {
    border: 2px solid #48b0e1;
    padding: 4px 20px 4px 20px;
    border-radius: 18px;
}

a.explore:hover {
    border: 2px solid transparent;
    color: #48b0e1;
    background-color: #ffffff;
}

/*----------------------
---END HEADER SECTION---
------------------------*/

/*------------------
---BANNER SECTION---
--------------------*/

.banner {
    margin: 0 auto;
    padding: 40px;
    clear: both;
    overflow: hidden;
}

.content-right img {
    width: 455px;
    height: 375px;
}
.content {
    position: relative;
}
.content-left {
    position: relative;
    width: 50%;
    float: left;
    margin: 0 auto;
    text-align: center;
    /* padding: 133px 0px 0px 0px; */
    padding: 70px 0px;
    clear: both;
    overflow: hidden;
}

.content h2 {
    text-align: left;
    font-size: 37px;
    width: 50%;
    color: #48b0e1;
    
    padding-bottom: 20px;
}
.content p {
    padding-bottom: 35px;
    width: 50%;
    text-align: left;
}
.content .btn {
    background-color: #48b0e1;
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 18px;
    padding: 8px 30px 8px 30px;
    font-size: 15px;
   
    margin: 0 auto;
    position: absolute;
   
    clear: both;
    overflow: hidden;
    left: 147px;
}
.content .btn a{
    color: #ffffff;
}

.content .btn a:hover{
    color: #48b0e1;
}
.content .btn:hover {
    background-color: #ffffff;
    border: 2px solid #48b0e1;
    color: #48b0e1 !important;
    cursor: pointer;
}
.content-right {
    width: 50%;
    float: right;
    text-align: right;   

}

/*----------------------
---END BANNER SECTION---
------------------------*/
.content-inner {
    display: grid;
    grid-template-columns: 50% 50%;
}
.content-inner .left{
    margin: 10%;
    padding-top: 100px;
}


.content-inner .right{
    float:right;
    width: 50%;
    padding: 0;
    margin: 10%;
}

.content-main img {
    width: 455px;
    height: 375px;
}

/*------------------------------
---SECOND PAGE BANNER SECTION---
--------------------------------*/

.banner.row {
    padding: 30px;
}
.two h1 {
    text-align: center;
}

.input-question {
    margin: 0 auto;
    text-align: left;
    width: 82%;
    padding: 20px;
    position: relative;
}

label {
    
    float: left;
    width: 55%;
    font-size: 15px;
}
input{
    outline: none;
}

.input-question input {
    position: absolute;
    width: 25%;
    height: 20px;
    float: right;
    background: #00000036;
    border: none;
    color: white;
}


input[type="submit"] {
    outline: none;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 14px;
    
}

.input-container .btn:hover {
    color: #48b0e1 !important;
    background-color: #ffffff;
    cursor: pointer;
}
input:hover[type="submit"]{
    color: #48b0e1 !important;
    background-color: #ffffff;
    cursor: pointer;
}

.input-container .btn {
    left: 500px;
    /* padding: 10px; */
    top: 346px;
}
.input-container {
    clear: both;
    z-index: 5;
    overflow: hidden;
    background: #ffffff5a;
    padding-bottom: 90px;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/*-----------------------------------
--- END SECOND PAGE BANNER SECTION---
------------------------------------*/

/*-----------------------------------
--- NEW PAGE BANNER SECTION---
------------------------------------*/
.right.txt {
    margin-top: 50%;
    width: 80% !important;
    float: none !important;
}
.left.txt p,.right.txt p {
    margin: 20px 0px;
}
.left.txt button, .right.txt button {
    background-color: #38becc;
    border: none;
    width: 100px;
    padding: 7px;
    color: #ffffff;
    border-radius: 25px;
}
.left.txt button:hover, .right.txt button:hover {
    background: #ffffff;
    color: #38becc;
    cursor: pointer;
}
.left.txt h1 {
    color: #38becc;
}
.right.txt h1 {
    color: #38becc;
}

/*------------------
---ABOUT US SECTION---
--------------------*/
.about-content {
    display: flex;
    margin: 210px 0px;
}
.about-content .about-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-inner p {
    text-align: center;
}
.about-inner h4 {
    color: #ffffff;
    font-size: 20px;
}
.fa-lightbulb-o:before, .fa-line-chart:before,.fa-edit:before, .fa-pencil-square-o:before,.fa-comments:before {
    content: "\f0eb";
    font-size: 60px;
    color: #ffffff;
}



/*------------------
---FOOTER SECTION---
--------------------*/
.footer{
    background-color: #ffffff5a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    padding: 19px 0px 0px 0px;
}

.footer p:hover{
    cursor: pointer;
    color: #48b0e1;
}

.footer-inner {
    padding: 0px 0px 20px 0px;
}
.row .footer-inner{
    padding: 0px 0px 22px 0px;
}

.grid-container-three {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
    /* background-color: #48b0e1; */
    padding: 10px;
    /* margin: 0 auto; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  }

.grid-container-two {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    /* background-color: #48b0e1; */
    padding: 10px;
    /* margin: 0 auto; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  }
  
/*------------Mobile Phones*------------------*/    
@media (max-width: 767px){
    .container {
        width: 688px;
        margin: 0 auto;
    }
    .menu {
        width: 40%;
        float: right;
        text-align: left;
    }
    .menu li {
        display: inline;
        padding: 0px 0px 0px 19px;
        font-size: 17px;
    }
    ul {
        padding: 0;
        /* margin: 0; */
    }
    label {
        float: left;
        width: 80%;
        font-size: 13px;
    }
    .input-container .btn {
        left: 280px;
        top: 327px;
    }
    .two h1 {
        text-align: center;
        font-size: 25px;
    }
}

/*------------Galaxy fold*------------------/ 
    /*Mobile*/
    @media (max-width: 280px){
        .header{
            width: 246%;
        }
        .menu li {
            display: inline;
            padding: 0px 0px 0px 11px;
            font-size: 17px;
        }
        .container {
            width: 650px;
            margin: 0 auto;
        }
    }